<div class="row">
	<div class="col-sm-12">
		<h3>Guides</h3>		
	</div>
	{{#each guides as |guide|}}
		<div class="col-lg-2 col-md-3 col-sm-4">	 	
			<div class="guide">
				<img src={{guide.img}}>
				
				<div class="name">
					{{guide.name}}
				</div>				
				{{star-rating numStars=guide.stars
				  readOnly=true	
				  fillColor="#ffa600"
				  baseColor="#ffa600"
				  width=10
				  height=10
				  class="star"
				  }}				
				<br>
								
				<div class="desc">{{guide.desc}}</div>
				<br>
				
				<div class='rate'> {{guide.rate}} $ / Hour</div>
			</div>		
		</div>
	{{/each}}
	<div class="col-sm-12 see-more">
		<a href="">See more...</a>	
	</div>
</div>