<div class="row">
	<div class="col-sm-12">
		<h3>Tours</h3>		
	</div>
	{{#each tours as |tour|}}
		<div class="col-lg-2 col-md-3 col-sm-4">	 	
			<div class="tour">
				<img src={{tour.img}}>				
				<div class="name">
					{{tour.name}}			
				
					{{star-rating numStars=tour.stars
					  readOnly=true	
					  fillColor="#ffa600"
					  baseColor="#ffa600"
					  width=10
					  height=10
					  class="star"
					  }}
				</div>				
				<p class="loc">{{tour.loc}}</p>				
				<div class="row price">				
					<div class="col-sm-7">${{tour.price}} per Group</div>			
					<div class="col-sm-5 text-to-right">{{tour.hours}} Hours</div>
				</div>				
				<div class="desc">{{tour.desc}}</div>				
			</div>		
		</div>
	{{/each}}
	<div class="col-sm-12 see-more" >
		<a href="">See more...</a>	
	</div>
	<div class="col-sm-12">
		<hr style="border-width: 3px;">
	</div>
</div>