@import "bootstrap";
@import "bootstrap/theme";
@import "ember-searchable-select/style";

ul {
	list-style: none;
	padding: 0px;
}

.container {
	width: 100% !important;
}

header {    
    width: 100%;    
    padding: 20px 0px 14px;

    .container {
        box-shadow: 0px 17px 20px -14px #ddd;
        padding-bottom: 10px;
    }

    .logo {
    	img {
    		height: 51px;
            width: 100px;
            margin-top: -12px;
    	}    	
    }

    .lang {
    	img {
    		height: 23px;
            width: 23px;
    	}
    	color: #a3a3a3;
    }

    .menu {
    	line-height: 4vw;    	
    	float: right;

    	li {    		
    		a {
    			color: #a3a3a3;
    		}
    	}

    }

    .logo-region { 
        
        float: left; 
        margin-top: 18px;

        .logo-nav {
            list-style : none;
            .dropdown {
                float: left;
                display: block;
                position: relative;
                margin-right: 14px;
            }   
        }
    }    
}

.footer_links {
	a {
		color: #8d9197;
	}
}

footer {
	.container {
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}
}

.footer_social {

	margin-top: 1vw;
	margin-bottom: 3vw;

	a {
		display: inline-block;
		width: 27px;
		height: 27px;
		margin-left: 1px;
		line-height: 27px;
		color: #8d9197;
		text-align: center;
		border: solid 1px #8d9197;
		border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
	}
	
	a:hover {
		color: #fff;
		border-color: #ec0928;
		background-color: #ec0928;
	}
}

/* sidebar */
.wrapper {
  display: flex;
  align-items: stretch;
}        

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#content {
  padding: 20px;  
  transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


.sidebar-header {
	background: red;
  color: white;
  height: 40px;    
  padding-left: 20px;
  line-height:40px;
  font-weight: bold;

  .filterby {
    float: right;
    line-height: 40px;
    margin-right: 10px;
  }
}

#sidebarCollapse {
  display: none;
}

.gray {
	background: #f2f2f2;
}

.text-to-right {
    text-align: right;
}

.sidebar-region {
	padding: 20px 20px 30px 20px;
    
  .multiselect-checkboxes {
  	label {
  		font-weight: normal;
  	}
  }

  .slider {
    font-size: 8px;
  }
}

.guide {
	padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  margin-bottom: 4vw;

  img {
  	width: 70%;
  }
	
  .desc {
    height: 60px;
    contain: strict;
  }

	.rate {
		border-top: 1px solid #ddd;
	}
	
}

.excursion, .tour {	    
    border-bottom: 1px solid #ddd;
    color: #d8d8d8;    
    margin-bottom: 21px;    

    img {
    	width: 100%;
    }

    .name {
    	color: #eeb554;	    
	    margin-top: 0.5vw;
      font-size: 11px;
    }

    .loc {
    	font-weight: bold;
    	color: black;
      height: 22px;
    }
    
    .desc {        
      height: 60px;
      contain: strict;
    }

    .price {
      height: 40px;
      font-size: 10px;
    }

    .star  {
      float: right;  
    }
}

.see-more {
    text-align: right;
    margin-top: 1vw;
    
    a {
        color: red;
    }
}

/* search button */
.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  float: left;
  position: relative;
  margin: 13px 0 0 13px;
  width: 100%;
  color: #555;
  display: block;  

  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  &.addon-md .glyphicon, .glyphicon, &.addon-md .fa, .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
  }
  &.addon-lg .form-control {
    line-height: 1.33;
    height: 30px;
    font-size: 12px;
    padding: 10px 16px 10px 26px;
  }
  &.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
  }
  &.addon-lg {
    .fa, .glyphicon {      
        font-size: 14px;
        margin-left: 0;
        left: 4px;
        top: -2px;
    }
  }
  &.addon-md .form-control, .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
  }
  &.addon-sm {
    .fa, .glyphicon {
      margin-left: 0;
      font-size: 12px;
      left: 5px;
      top: -1px;
    }
  }
  .form-control:focus + .glyphicon, &:hover .glyphicon, .form-control:focus + .fa, &:hover .fa {
    color: #2580db;
  }
}


/* mobile menu */

.menu-btn {
  position: relative;
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 13px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  span {
    display: block;
    top: 50%;
    margin-top: -2px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 30px;
    height: 3px;
    background-color: #4a4a4a;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    left: 0;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    &::before, &::after {
      width: 30px;
      height: 3px;
      background-color: #4a4a4a;
      border-radius: 1px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      position: absolute;
      left: 0;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &::before, &::after {
      content: "";
      display: block;
    }
    &::before {
      top: -7px;
      transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
    }
    &::after {
      bottom: -7px;
      transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
  &.active span {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
    }
    &::after {
      bottom: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .search {
    display: none;
  }
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  header .menu {
    text-align: center;
    float: none;
  }

  .menu-btn {
    display: block;
    float: right;
  }

  .icon-addon.addon-lg {
    display:none;
  }

  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse {
    display: block;
  }

}